@import url('./variables.css');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
    font-family: var(--text-font);
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a.disabled {
    pointer-events: none;
    color: rgba(0, 0, 0, 0.3);
}

h1,h2,h3,h4,h5 {
    font-family: var(--heading-font);
    margin: 0;
}
