@import url('./variables.css');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
    font-family: var(--text-font);
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a.disabled {
    pointer-events: none;
    color: rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--heading-font);
    margin: 0;
}

/* TEMPORARY ALERT STYLES */
/* TODO: ALERT COMPONENT */

.alert {
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    margin: 0.5rem 0;
}

.alert--red {
    border-color: hsl(6, 79%, 74%);
    color: hsl(6, 79%, 74%);
    background-color: hsl(4, 81%, 96%);
}