:root {
    /* COLORS */
    --text-color: hsl(226, 72%, 14%);
    --bg-color: hsl(20, 8%, 93%);

    /* FONTS */
    --text-font: 'Open Sans', sans-serif;
    --heading-font: 'Montserrat', sans-serif;
}