.content {
    margin-left: 0;
}

.menu-btn {
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

@media(min-width: 768px) {
    .content {
        margin-left: 300px;
    }
    .menu-btn {
        display: none;
    }

}