.topbar {
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid hsl(220, 33%, 90%);
}

.topbar button i {
    font-size: 1.5rem;
}

@media(min-width: 768px) {
    .topbar {
        display: none;
    }
}